{% extends 'base.html' %}
{% block head %}
<link type="text/css" href="../../static/css/games/snake.css" rel="stylesheet"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock head %}
{% block content %}
{{super()}}
<div id="game">
    <div class="game-header">
        <div class="game-score">
            <span class="score-count">1234</span>
        </div>
    </div>
    <div class="canvas-wrapper">
        <canvas id="game-canvas" width="800" height="400"></canvas>
    </div>
</div>
{% endblock content %}
<script src="../../static/js/snake.js"></script>
{% endblock %}