<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet"/>
    {% block title %}
    {% if Title %}
    <title>{{Title}}</title>
    {% else %}
    <title>Добро пожаловать</title>
    {% endif %}
    {% endblock %}
</head>

<body>
    {% block content %}
    {% block mainmenu %}
    <ul class="mainmenu">
        {% for m in menu %}
        <li><a href="{{m.url}}">{{m.name}}</a></li>
        {% endfor %}
    </ul>
    {% endblock mainmenu %}
    <div class="content">
    {% if Title %}
        <h1>{{Title}}</h1>
        {% endif %}
    </div>
    {% endblock content %}
</body>
<footer>
    {% block footer_info %}
    <div class="footer_content">
        <p>Сайт сделал <a href="#">Амелин А.С.</a></p>
        <p>ИУК4-52Б</p>
    </div>
    {% endblock %}
</footer>

</html>