.home_top_news{
    color: #2e1d00;
    /* background-image: url(https://lh5.ggpht.com/nmnjUtcU3NJBTcwntDpcfIUDoMrss-xMQHVp4DOgFiuiwGYPO6MD_H_zqcjPpngxpnnW=h500); */
    
}

/* .home_top_news img{
    position: relative;
    width: 90%;
} */

.home_top_news_info{
    position: relative;
    margin: 0px 0 0 0px;
    padding: 30px 30px;
    background-image: linear-gradient(rgb(255, 208, 0), rgba(126, 126, 0, 0.719)), 
                      url(../../img/news_background.jpg);
    background-position: 100%;
    background-position-x: left;
    background-position-y: center;
    background-repeat: repeat-y;

    min-height: 400px;
}