{% extends 'base.html' %}
{% block head %}
<link type="text/css" href="../../static/css/menu/about.css" rel="stylesheet"/>
{% endblock head %}
{% block content %}
{{super()}}
<div class="about_info">
    <div class="about_info_title">
        <p>Онлайн-сайт миниигр</p>
    </div>
    <div class="about_info_text">
        <p> Каждый день люди перегружаются различными задачами, планами, проектами. Столько всего надо успеть, стольких людей встретить, столько встречь провести, что совсем нет времени на нормальный перерыв.</p>
        <p> Столько различных вещей требуют нашего внимания, концентрации, сил и времени, что рано или поздно начинаешь чувствовать истощение и хочется немного побыть в другом мире, без сложных задач, ворчливых людей и тикающих где-то рядом часов, напоминающих о дедлайне.</p>
        <p> Причём хочется, чтобы этот мир был всегда под рукой, где-бы ты не находился. Хоть в офисе, хоть в очереди в магазин или поликлинику. Этим миром и пытается стать наш сайт.</p>
        <p> Его цель довольно проста: дать каждому пользователю убежище от повседневной тоски и рутины, где бы он ни находился.</p>
        <p><br> Здесь собраны самые простые типовые игры, в которые можно зайти в любое время и также в любое время прерваться без какого-либо вреда своей статистике и реальным задачам.</p>
        <p> Если вам станет одиноко, вы всегда можете написать в общий чат и пообщаться с другими посетителями сайта.</p>
        <p> Также присутствует система достяжений и наград, чтобы проведённое время не осталось незамеченным.</p>
    </div>
</div>
{% endblock content %}