{% extends 'base.html' %}
{% block head %}
<link type="text/css" href="../../static/css/menu/chat.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock head %}
{% block content %}
{{super()}}
<h1>Чат:</h1>
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io.connect("http://127.0.0.1:5000")
            socket.on('connect', function(){
                socket.send("User connected!");
            });

            socket.on('message', function(data){
                $('#messages').append($('<p>').text(data));
            });

            $('#sendBtn').on('click', function(){
                socket.send($('#username').val() + ': ' + $('#message').val());
                $('#message').val('');
            });
        })
    </script>
    <div class="chat_messages" id="messages">


    </div>
    <input type="text" id="username" placeholder="Ник">
    <input type="text" id="message" placeholder="Сообщение">
    <button id="sendBtn">Отправить</button>
{% endblock content %}