{% extends 'base.html' %}

{% block content %}
{{super()}}
<div class="games_top_info">
    <h1>Все игры:</h1>
    <div class="games_list">
        <div class="games_card games_tetris">
            <img src="../static/img/tetris.png" alt="tetris">
            <div class="games_tetris_info">
                <h4>Тетрис</h4>
                <p>Цель: заработать как можно больше очков, складывая фигуры в линии, перед тем, как фигуры выйдут за пределы игрового поля.</p>
                <button class="play_button">Играть</button>
            </div>   
        </div>
        <div class="games_card games_snake">
            <img src="../static/img/snake.png" alt="snake">
            <div class="games_snake_info">
                <h4>Змейка</h4>
                <p>Цель: зарабатывать очки, поедая змейкой яблоки, заполняя собой всё поле, пока не врежишься в себя или стенку игрового поля.</p>
                <button class="play_button">Играть</button>
            </div>
        </div>
        <div class="games_card games_labirint">
            <img src="../static/img/labyrinth.jpg" alt="labyrinth">
            <div class="games_labirint_info">
                <h4>Лабиринт</h4>
                <p>Цель: пройти как можно больше лабиринтов за отведённое время, получая очки за нахождение коротких путей к выходу.</p>
                <button class="play_button">Играть</button>
            </div>
        </div>
        <div class="games_card games_clicker">
            <img src="../static/img/clicker.png" alt="clicker">
            <div class="games_clicker_info">
                <h4>Кликер</h4>
                <p>Цель: заработать как можно больше очков за отведённое время, кликая по объектам на экране.</p>
                <button class="play_button">Играть</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}